---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Photo1 from "../assets/images/collage/boat-1.webp";
import Photo2 from "../assets/images/collage/boat-3.webp";
import Photo3 from "../assets/images/collage/dive.webp";
import Photo4 from "../assets/images/collage/mountain.webp";
import Photo5 from "../assets/images/collage/mountain-3.webp";
import Photo6 from "../assets/images/collage/helmet.webp";
import InfoMode from "../components/InfoMode.astro";
---
<MainLayout title="HöjskoleDK">
	<article class="max-w-screen-xl mx-auto p-sm">
		<h1>Höjskoledk</h1>
		<h2>fællesskab</h2>
		<h2>eventyr</h2>
		<h2>livserfaring</h2>
	</article>
	<section class="max-w-[1300px] m-auto">
		<h2>Tidligere rejsende</h2>
		<article class="flex flex-row flex-wrap place-content-between">
	<div class="grid grid-cols-2 md:p-0 p-8">
		<div class="grid justify-items-end content-start">
			<Image class="p-3 md:h-60 w-auto" src={Photo4} alt="gruppe af elever med bjerg udsigt"/>
			<Image class="pr-3 pb-3 md:h-48 w-auto" src={Photo2} alt="højskoleelever på bådtur"/>
			<Image class="pr-3 pb-3 md:h-48 w-auto" src={Photo6} alt="Piger med motercykel hjelm på"/>
		</div>
		<div class="grid content-end">
	<Image class="pb-3 md:h-48  w-auto" src={Photo3} alt="tre drenge der dykker med nissehue på"/>
	<Image class="pr-3 pb-3 md:h-44 w-auto" src={Photo5} alt="to piger på et bjerg"/>
	<Image class="md:h-60  w-auto" src={Photo1} alt="piger på farverig båd"/></div>
	</div>
	<div class="max-w-xl flex flex-col gap-6 md:p-0 p-8">
		<h6 class="text-turkis-800">Højskole i udlandet</h6>
		<p>Tag på højskole i udlandet og oplev et unikt eventyr, der kombinerer fællesskab, personlig udvikling og vilde rejseoplevelser. 
		</p>
		<p>Vælg mellem frivilligt arbejde, naturoplevelser, sprogundervisning og spændende eventyr, der styrker din selvtillid, selvindsigt og selvværd. Vores elever beskriver HÖJSKOLENDK som <span class="text-orange-500">"eventyrlige dannelsesrejser med noget på hjerte"</span>, hvor du udforsker dine drømme og mål i livet.</p>
	<p>På højskole i udlandet får du:<br/>
			<ul class="list-disc list-inside">
				<li>Et stærkt fællesskab og spændende kulturmøder</li>
				<li>Vilde naturoplevelser og adventure</li>
				<li>En rejse, der styrker din selvtillid og personlig udvikling</li>
				<li>Dygtige og engagerede undervisere</li>
	</ul></p>
	<p>Gå på opdagelse i dit livs eventyr med HÖJSKOLENDK – en rejse, der giver dig mod på livet og en afklaring af, hvad der virkelig betyder noget for dig.</p>
	</div>
</article>
</section>

	<div class="mx-0"><InfoMode></InfoMode></div>

</MainLayout>