---
import Link from '../components/Link.astro';
const { url="#", cardimage="", cardimagealt="", badgefaapladser="false", pris="",

destination="", varighed="", firstdestination="", seconddestination="", thirddestination="", fourthdestination="" } = Astro.props; 


---

<article class="card @container w-[425px] text-turkis-50 rounded-b-xl shadow-drop mb-16">
    <a href={url} class="flex flex-col justify-between h-full">
    <section class="relative rounded-t-xl">
        <div class="absolute bg-gradient-card-desktop z-10 h-80 w-full rounded-t-xl"></div>
        <img src={cardimage} alt={cardimagealt} class="object-cover h-80 w-full rounded-t-xl z-0">
        <div class="absolute top-5 right-5">
        <Link class="z-30">{varighed}</Link>
       </div> 
       <div class="badge font-bold absolute top-20 bg-turkis-500 p-xs left-[0] text-petroleum-700 rounded-r-md z-30 pb-4">
            Kun få pladser tilbage!
        </div>
        <h5 class="absolute z-10 top-[280px] ml-4">{destination}</h5>
    </section>
    <section class="bg-turkis-900 border-t-2 border-t-turkis-500 h-16 flex flex-row justify-between pt-5">
        <h6 class="ml-8">Ca. pris</h6>
        <h6 class="mr-8">{pris}</h6>
    </section>
    <section class="h-[140px] bg-turkis-50 rounded-b-xl text-brun-500 flex flex-col justify-center ml-8">
        <p>{firstdestination}</p>
        <p>{seconddestination}</p>
        <p>{thirddestination}</p>
        </section>
    </a>
</article>
<!-- 

<article class="card border-2 @container">
   <a href={url} class="flex flex-col justify-between h-full">
    
        <header class="danseholdheader mb-xs relative">
            <img src={cardimage} alt={cardimagealt} class="object-cover h-9xl w-full">
            {(badgenyt === "true") && <div class="badge absolute top-xs bg-blue-500 p-xs text-white rounded-r-lg">Nyt hold!</div>}
            {(badgerabat === "true") && <div class="badge absolute md:text-small top-xs bg-red-600 p-xs right-[0] text-white rounded-full"><span>{badgerabatsats}</span> rabat!</div>}
            {(badgefaapladser === "true") && <div class="badge  absolute bottom-xs bg-yellow-400 p-xs right-[0] text-black rounded-l-lg">Kun få pladser tilbage!</div>}
        </header>
            <section class="holdinfo p-xs grow border-b-2 border-blue-500">
               <h3 class="text-small @lg:text-large mb-xs">{holdnavn}</h3>
               <div class="flex flex-col @md:flex-row @md:justify-between mb-xs">
                    <div class="venstre grow">
                    <div><span>Tid:</span> <span>{tidspunkt}</span></div>
                    <div><span>Alder:</span> <span>{aldersgruppe}</span></div>
                    <div><span>Niveau:</span> <span >{niveau}</span></div>
                </div>
                <div class="hoejre grow">
                    <div><span>Deltagere:</span> <span>{pladserpaaholdet}</span></div>
                    <div><span>Lokale:</span> <span >{lokale}</span></div>
                    </div>
            </div>
               <p class="mb-xs ">{holdbeskrivelse}</p>
            </section>
            <section class="underviserinfo flex my-xs gap-xs p-xs">
                <div class="flex-none underviser">
                    <img src={underviserfoto} alt={underviserfotoalt} class="rounded-full object-cover w-3xl h-3xl">
                </div>
                <div>
                    <p>Underviser:<span> {undervisernavn}</span></p>
                    <p>{underviserinfo}</p>
                </div>
            </section>

   </a>
</article> -->