---
import Link from '../components/Link.astro';
import Button from './Button.astro';
const { url="#", cardimage="", cardimagealt="", badgefaapladser="false", pris="",

destination="", varighed="", firstdestination="", seconddestination="", thirddestination="", fourthdestination="" } = Astro.props; 


---

<article class="card @container w-[425px] text-turkis-50 rounded-xl shadow-drop mb-16">
    <a href={url} class="flex flex-col justify-between h-full">
    <section class="relative rounded-t-xl">
        <div class="absolute bg-gradient-card-desktop z-10 h-80 w-full rounded-t-xl"></div>
        <img src={cardimage} alt={cardimagealt} class="object-cover h-80 w-full rounded-t-xl z-0">
        <div class="absolute top-5 right-5">
        <Link class="z-30">{varighed}</Link>
       </div> 
       <div class="badge uppercase font-bold absolute top-40 bg-turkis-500 p-xs left-[0] text-petroleum-700 rounded-r-md z-30 pb-4">
           {badgefaapladser}
        </div>
        <h5 class="absolute z-10 top-[240px] ml-4">{destination}</h5>
    </section>
    <section class="bg-turkis-900 border-t-2 border-t-turkis-500 h-16 flex flex-row justify-between pt-5">
        <h6 class="ml-8">Ca. pris</h6>
        <h6 class="mr-8">{pris}</h6>
    </section>
    <section class="h-[140px] bg-turkis-50 rounded-b-xl">
        <div class="destinationer rounded-b-xl text-brun-500 flex flex-col justify-center pl-8 pt-7">
            <p>{firstdestination}</p>
            <p>{seconddestination}</p>
            <p>{thirddestination}</p>
        </div>
        <div class="knapper flex flex-col justify-self-center gap-4 -mt-16">
                <Button size="small">læs mere</Button>
                <Button size="small">tilmeld infomøde</Button>
        </div>
    </section>
    </a>
</article>

<style>
.card:hover .destinationer{
    opacity: 0;
    z-index: 10;
}

.knapper{
    opacity: 0;
}

.card:hover .knapper{
    opacity: 1;
    z-index: 50;
}

</style>
